<div class="modal-header">
    <h3 class="modal-title">Загрузка изображений...</h3>
</div>
<div class="modal-body" ng-init="pageCount = 1 + files.length + 1">
    <div uib-collapse="currentPage != 1">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th width="50"></th>
                    <th>Имя</th>
                    <th width="100">Пропорция</th>
                    <th width="100">Размер</th>
                </tr>
                <tr>
                    <th colspan="4">В папку: /{{ selectedFolder.uri }}/</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in files">
                    <td><button ng-click="files.splice($index,1)"><i class="fa fa-fw fa-times"></i></button></td>
                    <td>{{ x.name }}</td>
                    <td>{{ x.resolution.x }} x {{ x.resolution.y }}</td>
                    <td>{{ x.size | filesize }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-repeat="x in files" uib-collapse="currentPage != ($index+2)">
        <h3>{{ x.name }}</h3>
        <!--<input type="file" onchange="angular.element(this).scope().onFile(this.files[0])"> &lt;!&ndash;.scope().onFile(this.files[0])&ndash;&gt;-->
        <!--<button ng-click="preview()">Show preview</button>-->
        <!--<button ng-click="scale(200)">Scale to 200px width</button>-->
        <!--<button ng-click="clear()">Clear selection</button>-->
        <!--<label>Disabled <input type="checkbox" ng-model="options.disabled"></label>-->

        <br />

        <!--<img src="{{ x.dataUrl }}" />-->

        <div ng-if="x.dataUrl">
            <img ng-if="x.dataUrl" ng-src="{{x.dataUrl}}"
                 ng-cropper
                 ng-cropper-proxy="x.cropperProxy"
                 ng-cropper-show="x.showCropperEvent"
                 ng-cropper-hide="x.hideCropperEvent"
                 ng-cropper-options="x.cropperOptions">
        </div>

        <button class="btn btn-default" ng-click="doCrop(x)">crop</button>
        <!--<div class="preview-container">-->
            <!--<img ng-if="preview.dataUrl" ng-src="{{preview.dataUrl}}">-->
        <!--</div>-->
    </div>
    <div uib-collapse="currentPage != pageCount">

        <button ng-if="currentPage == pageCount" class="btn btn-success">Загрузить и закрыть</button>
    </div>

    <uib-pager total-items="pageCount" items-per-page="1" ng-model="currentPage"></uib-pager>
</div>
<!--<div class="modal-footer">-->
    <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
    <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
<!--</div>-->