/* Space out content a bit */
/*body {*/
    /*padding-bottom: 20px;*/
/*}*/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

hr.editor-separator {
  border: 0;
  border-bottom: 1px dashed red;
}

.nav>li.active>a {
text-decoration: none;
background-color: #eee;
}

/* media tree styles */
.bullet-collapse-true {
  display: block;
}

.bullet-collapse-true:before
{
  /*Using a Bootstrap glyphicon as the bullet point*/
  content: "\f114";
  font-family: FontAwesome;
  font-size: 11px;
  float: left;
  margin-top: 4px;
  margin-left: -17px;
  color: #333;
}
.bullet-collapse-false {
  display: block;
}

.bullet-collapse-false:before
{
  /*Using a Bootstrap glyphicon as the bullet point*/
  content: "\f115";
  font-family: FontAwesome;
  font-size: 11px;
  float: left;
  margin-top: 4px;
  margin-left: -17px;
  color: #333;
}
.folder-list {
  padding-left : 20px;
}

/* file browser*/
.file-container {
    /*overflow:auto;*/
    /*max-height: 700px;*/
}

.file-item-wrapper
{
  display: inline-block;
  width: 128px;
  height: 192px;
  padding: 7px;
}

.file-item
{
  overflow: hidden;
  width:100%;
  height:100%;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  padding-top: 10px;
  word-wrap: break-word;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.file-item-dropGhost
{
  background-color: #ccccff;
  color : dodgerblue;
  border: 1px dashed #2e6da4;
}

.file-item-dropGhost div {
  font-size: 48pt;
}

.file-item-dropGhostRow
{
  width: 100%;
  height: 100%;
  background-color: #ccccff;
  color : dodgerblue;
  border: 1px dashed #2e6da4;
  border-radius: 4px;
}


.file-icon
{
  display: inline-block;
  width:96px;
  height:96px;
  padding: 0;
  margin: 0;
}

.file-icon img {
  max-width: 100%;
  max-height: 100%;
}


.file-DIR
{
  font-family: FontAwesome;
  font-size: 48pt;
  color:lightblue;
}
.file-DIR:before
{
  content:'\f07b';
}

.file-FILE
{
  font-family: FontAwesome;
  font-size: 48pt;
  color:lightblue;
}
.file-FILE:before
{
  content:'\f15b';
}

.popover {
  max-width: none;
}

/* file browser drag & drop */

#dropZone {
}

#dropZone.hover {
  /*background: #ddd;*/
  /*border-color: #aaa;*/
}

#dropZone.error {
  /*background: #faa;*/
  /*border-color: #f00;*/
}

#dropZone.drop {
  /*background: #afa;*/
  /*border-color: #0f0;*/
}