<div ng-controller="MainController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <button class="btn btn-default" ng-click="open()">Test Modal!</button>
        <button class="btn btn-default" ng-click="window.alert('test')">alert!</button>
        hello world
        <div id="dropZone"></div>
        <!--<img src="/images/2015-superbikes-street/15-superbikes-street-1.jpg"-->
             <!--ng-cropper-->
             <!--ng-cropper-options="options"-->
             <!--ng-cropper-show="'show.cropper'"-->
             <!--ng-cropper-hide="'hide.cropper'"/>-->
    </div>
</div>